<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vadym.gvd.bestfriendskotlin">

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_tf_launcher"
        android:label="@string/app_start_name"
        android:roundIcon="@mipmap/ic_tf_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoadingView"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".kido.PersonView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.FatherKidoView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.nadezdy.FatherKidoNadezdyViewIntro"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.pobedy.FatherKidoPobedyViewIntro"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.zelaniya.FatherKidoZelaniyaViewIntro"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.pochtitelnosty.FatherKidoPochtitelnostyViewIntro"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.serdca.FatherKidoSerdcaViewIntro"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.voskresheniya.FatherKidoVoskresheniyaViewIntro"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.reshimosty.FatherKidoReshimostyViewIntro"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.faith.FatherKidoFaithViewIntro"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.loyalty.FatherKidoLoyaltyViewIntro"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.restoration.FatherKidoRestorationViewIntro"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.devotion.FatherKidoDevotionViewIntro"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.unification.FatherKidoUnificationViewIntro"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.hananim.KidoHananimView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.champumo.KidoChampumoView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.chamsaran.KidoChamsaranView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.chamingan.KidoChaminganView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.chamkajon.KidoChamkajonView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.chammanmul.KidoChammanmulView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.yongye.KidoYongyeView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.suren.KidoSurenView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.mesia.KidoMesiaView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.penhwasasan.KidoPenhwasasanView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.menjol.KidoMenjolView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.chonilguk.KidoChonilgukView"
            android:screenOrientation="portrait"/>
        <activity android:name=".father_kido.intro.penhwamesigi.KidoPenhwamesigiView"
            android:screenOrientation="portrait"/>
        <activity android:name=".InfoView"
            android:screenOrientation="portrait"/>
        <activity android:name=".ExplanationView"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenseView"
            android:screenOrientation="portrait"/>
        <activity android:name=".FragmentMenseEn"
            android:screenOrientation="portrait"/>
        <activity android:name=".FragmentMenseUa"
            android:screenOrientation="portrait"/>
        <activity android:name=".FragmentMenseRu"
            android:screenOrientation="portrait"/>
        <activity android:name=".AnthemView"
            android:screenOrientation="portrait"/>
        <activity android:name=".condition.ConditionView"
            android:screenOrientation="portrait"/>
        <activity android:name=".ExperiencesPrayerView"
            android:screenOrientation="portrait"/>

    </application>
</manifest>